.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 20%;
  padding: 20px;
  color: white;
}

.App-intro {
  /* font-size: large; */
  color: #222;
}

.title {
  background-color: #343a40;
  color: white;
}

.skills {
  background-color: rgb(211, 208, 208);
}

.sports li {
  /* font-size: 1.2em; */
}

.badminton {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.buttons{
  font-size: 0.9rem!important;
}
