h2 {
  margin-bottom: 0.2rem!important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 20%;
  padding: 20px;
  color: white;
}

.App-intro {
  /* font-size: large; */
  color: #222;
}

.App-footer {
  background-color: #222;
  height: 20%;
  padding: 20px;
  color: white;
}

.mytitle {
  background-color: #011638!important;
  color: #cdcdcd!important;
  /* padding: 5px 50px!important; */
}

.titleReverse {
  background-color: #cdcdcd!important;
  color: #011638!important;
  /* padding: 5px 50px!important; */
}

.titles {
  padding: 10px 30px;
}

/* On md screen */
@media (min-width: 768px) {
  .titles {
    padding: 10px 100px;
  }
}

.skills {
  background-color: rgb(211, 208, 208);
}

.iconToWhite {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.myIcon {
  color: rgba(255, 255, 255, .5)
}

.buttons {
  font-size: 0.9rem!important;
}

.grey {
  background-color: rgb(240, 234, 234)!important;
}

.dropdown-menu {
  background: #464d55!important;
}

.dropdown-item, .dropdown-toggle {
  color: rgba(255, 255, 255, .5)!important;
}

.dropdown-menu .dropdown-item:hover {
  background: rgba(255, 255, 255, .5)!important;
  color: #343a40!important;
}

.dropdown-menu .active {
  background: #464d55!important;
}

.copyright {
  border-radius: .25rem!important;
}

#enovacom {
  margin-top: -20px;
  margin-bottom: -20px;
}